body {
  background-color: crimson;

}

nav {
  background-color: silver;
  \

}

nav {
  color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
}

nav>div>a {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 8px;
  width: 100px;
}

#links {
  width: 100px;
}

#topleft {
  width: 100px
}
form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}